{{ partial:main }}
    {{# Add default hero if page builder is empty #}}
    {{ if page_builder | is_empty }}
        {{ partial:components/blocks/hero :title="page:title" background_type="Colour" background_colour="primary" }}
    {{ /if }}

    {{ page_builder }}
        {{# Add default hero if page builder doesn't have one #}}
        {{ if first && type !== 'hero' }}
            {{ partial:components/blocks/hero :title="page:title" background_type="Colour" background_colour="primary" }}
        {{ /if }}
    {{ /page_builder }}

    {{ partial:layout/page_builder }}
{{ /partial:main }}
