{{ partial:components/block }}
    <div class="max-w-4xl mx-auto w-full">
        {{ items }}
            <details class="group">
                <summary class="border-b py-4 px-4 hover:bg-white">
                    <div class="flex gap-8 items-center text-lg">
                        <div class="flex flex-shrink-0 items-center justify-center rounded-full bg-primary text-primary-contrast size-12 font-bold">
                            {{ index + 1 }}
                        </div>

                        <h3 class="font-bold">{{ title }}</h3>

                        <div class="ml-auto">
                            <div class="rotate-180 group-open:rotate-0 transition-transform ease-in-out">
                                {{ partial:svg/chevron_up }}
                            </div>
                        </div>
                    </div>
                </summary>

                <div class="xl:pl-40 xl:mt-8 xl:pb-8 border-b">
                    <div class="bard bg-white rounded-outer p-8">
                        {{ bard }}
                    </div>
                </div>
            </details>
        {{ /items }}
    </div>
{{ /partial:components/block }}
