{{ partial:components/block }}
    {{ partial:components/common/background_image class="rounded-outer lg:!h-[550px]" }}
        <div class="max-w-xl w-full h-full p-8">
            <div class="bg-white h-full p-12 rounded-inner">
                <div class="flex flex-col h-full justify-end gap-8">
                    <h2>{{ title }}</h2>

                    <p>{{ content }}</p>

                    {{ partial:components/common/buttons }}
                </div>
            </div>
        </div>
    {{ /partial:components/common/background_image }}
{{ /partial:components/block }}
