{{ partial:components/block }}
    <div class="relative w-full rounded-outer lg:min-h-[550px] overflow-hidden">
        {{ if image }}
            <img
                src="{{ glide
                    :src="image"
                    preset="2xl-webp"
                    fit="crop_focal"
                    width="2200"
                    height="1000"
                }}"
                alt="{{ image:alt ?? title }}"
                class="absolute inset-0 w-full h-full object-cover"
            >
        {{ /if }}

        <div class="relative z-10 flex items-end w-full h-full min-h-[550px] p-8">
            <div class="inline-flex items-center w-auto p-8 bg-white rounded-inner lg:max-w-xl {{ switch(
                (content_align == 'left') => 'mr-auto ml-0',
                (content_align == 'center') => 'mx-auto',
                (content_align == 'right') => 'ml-auto mr-0',
                () => 'mr-auto ml-0',
            ) }}">
                <div class="flex flex-col justify-center gap-8">
                    <h2 class="text-3xl md:text-4xl font-bold text-balance {{ partial:components/settings/text_colour :text_colour="title_colour" }}">{{ title }}</h2>
                    {{ if content }}
                        <p>{{ content }}</p>
                    {{ /if }}
                    {{ partial:components/common/buttons }}
                </div>
            </div>
        </div>
    </div>
{{ /partial:components/block }}
