{{ partial:components/block }}
    {{ partial:components/common/title }}

    {{ if mode === 'Recent' }}
        {{ articles = {collection:articles limit="5"} }}
    {{ /if }}

    {{ partial:components/common/grid class="mt-24" }}
        {{ articles }}
            <div class="flex flex-col gap-6">
                <h3>
                    {{ title }}
                </h3>

                {{ partial:components/text/light }}
                    {{ excerpt | truncate(80, '...') }}
                {{ /partial:components/text/light }}

                {{ thumbnail }}
                    {{ partial:components/common/image class="aspect-video" }}
                {{ /thumbnail }}

                <a class="flex items-center gap-2 text-sm">
                    {{ partial:components/text/subtitle }}
                        Read more
                    {{ /partial:components/text/subtitle }}

                    {{ partial:svg/arrow_right }}
                </a>
            </div>
        {{ /articles }}
    {{ /partial:components/common/grid }}
{{ /partial:components/block }}
