<section class="{{ if hide_breadcrumbs }} mb-12 {{ /if }}">
    {{ if background_type === 'Image' }}
        {{ partial:components/common/background_image
            :height="height"
            :show_overlay="show_overlay"
            :overlay_opacity="overlay_opacity"
            :overlay_colour="overlay_colour"
            :is_hero="1"
        }}
            <div class="container flex flex-col gap-12 justify-center h-full text-white {{ switch(
                (align == 'start') => 'items-start text-left',
                (align == 'middle') => 'items-center text-center',
                (align == 'end') => 'items-end text-right',
                () => 'items-start',
            ) }}">
                <div class="flex flex-col gap-6">
                    {{ if subtitle }}
                        <p class="text-xl">{{ subtitle }}</p>
                    {{ /if }}
                    <h1 class="max-w-2xl">
                        {{ title | nl2br | widont() }}
                    </h1>
                </div>

                {{ partial:components/common/buttons colour="white" style="Solid" }}
            </div>
        {{ /partial:components/common/background_image }}
    {{ else }}
        <div class="mb-12 {{ switch(
                (background_colour == 'primary') => 'bg-primary text-white',
                (background_colour == 'secondary') => 'bg-secondary text-white',
                (background_colour == 'white') => 'bg-white',
                (background_colour == 'gray') => 'bg-gray text-white',
                (background_colour == 'black') => 'bg-black text-white',
                () => 'bg-white',
            )}}
        ">
            <div class="flex flex-col gap-8 py-24 container {{ switch(
                (align == 'start') => 'items-start text-left',
                (align == 'middle') => 'items-center text-center',
                (align == 'end') => 'items-end text-right',
                () => 'items-start',
            ) }}">
                {{# Spacer element for the sticky header with hero images #}}
                <div class="block h-[20px] lg:h-[40px] w-full"></div>

                <h1 class="text-center">
                    {{ title | nl2br | widont() }}
                </h1>

                {{ if subtitle }}
                    {{ partial:components/text/subtitle class="text-center" }}
                        {{ subtitle }}
                    {{ /partial:components/text/subtitle }}
                {{ /if }}

                {{ partial:components/common/buttons }}
            </div>
        </div>
    {{ /if }}

    {{ if not hide_breadcrumbs }}
        {{ partial:layout/breadcrumbs }}
    {{ /if }}
</section>
