{{ partial:components/block }}
    <div class="flex flex-col gap-8 w-full lg:max-w-4xl lg:mx-auto">
        {{ if description && ! (description | is_empty) }}
            <div class="prose max-w-full">
                {{ description }}
            </div>
        {{ /if }}

        <div class="overflow-x-auto w-full rounded-md border border-gray-200">
            <div class="prose w-full max-w-full prose-p:m-0">
                <table class="w-full">
                    {{ table }}
                        {{ if first && header_row }}
                            <thead>
                                <tr class="bg-gray-200 text-white">
                                {{ cells }}
                                    <th class="p-3 whitespace-nowrap">{{ value|markdown }}</th>
                                {{ /cells }}
                                </tr>
                            </thead>
                            <tbody>
                        {{ /if }}
                        {{ if !first && header_row || !header_row }}
                        {{ if first }}
                            <tbody>
                        {{ /if }}
                            <tr class="odd:bg-gray-50">
                            {{ cells }}
                                <td class="p-3{{ if bold_first_column && first }} font-bold{{ /if }}">{{ value|markdown }}</td>
                            {{ /cells }}
                            </tr>
                        {{ if last }}
                            </tbody>
                        {{ /if }}
                        {{ /if }}
                    {{ /table }}
                </table>
            </div>
        </div>

        {{ if content && ! (content | is_empty) }}
            <div class="prose prose-sm max-w-full">
                {{ content }}
            </div>
        {{ /if }}
    </div>
{{ /partial:components/block }}
