{{ partial:components/block }}
    <div class="flex flex-col gap-8 items-center">
        {{ partial:components/text/subtitle }}
            Testimonials
        {{ /partial:components/text/subtitle }}

        <h2 class="mb-16">{{ title }}</h2>

        <div class="grid grid-cols-3 gap-6">
            {{ testimonials }}
                <div class="flex flex-col h-full">
                    <div class="flex flex-col bg-gray-light gap-4 p-8 rounded-outer rounded-br-none flex-1">
                        {{ partial:svg/quote }}

                        <h3>{{ title }}</h3>

                        {{ content }}
                    </div>

                    <div class="flex h-16">
                        <div class="bg-gray-light flex-1 h-full">
                            <div class="flex items-center rounded-tr-outer bg-white h-full px-8">
                                {{ partial:components/text/subtitle }}
                                    {{ author_name }}
                                {{ /partial:components/text/subtitle }}
                            </div>
                        </div>

                        <div class="bg-gray-light h-full w-24 rounded-b-outer">

                        </div>
                    </div>
                </div>
            {{ /testimonials }}
        </div>
    </div>
{{ /partial:components/block }}
