<div class="bg-white container w-full mx-auto">
    <div class="flex items-center h-24 rounded-outer">
        <div class="flex items-center justify-between w-full">
            <a href="/" class="my-auto">
                {{ svg src="logo.svg" class="h-12" }}
            </a>

            <div class="flex items-center gap-12">
                <nav>
                    <ul class="flex items-center gap-9">
                        {{ nav:main }}
                            <li>
                                <a class="text-sm hover:underline font-medium hover:text-primary" href={{ url }}>
                                    {{ title }}
                                </a>
                            </li>
                        {{ /nav:main }}
                    </ul>
                </nav>

                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
