<div class="w-full z-10 relative">
    <div class="container py-4">
        <div class="flex justify-between">
            <div
                x-show="navigationMenuOpen"
                x-transition.duration.200ms
                x-on:click.away="navigationMenuClose()"
                x-cloak
                class="absolute inset-x-0 top-24"
            >
                <div class="container">
                    <div class="flex justify-center w-full h-auto overflow-hidden bg-white text-black rounded-outer">
                        <div class="flex flex-col gap-12 items-stretch justify-center w-full p-8">
                            <nav>
                                <ul class="flex flex-col gap-5">
                                    {{ nav:main }}
                                        <li>
                                            <a class="text-lg hover:underline font-medium hover:text-primary" href={{ url }}>
                                                {{ nav_title ?? title }}
                                            </a>
                                        </li>
                                    {{ /nav:main }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <a title="Home" href="/">
                <img x-show="!isScrolled && !navigationMenuOpen" src="/logo-white.svg" class="h-12"/>
                <img x-show="isScrolled || navigationMenuOpen" src="/logo.svg" class="h-12"/>
            </a>

            <div class="flex items-center pl-2">
                <button
                    title="Toggle menu"
                    :class="{ 'hover:bg-current/50' : !navigationMenuOpen }"
                    @click="navigationMenuToggle()"
                    class="inline-flex items-center justify-center h-10 px-2 py-2 text-sm font-medium transition-colors rounded-outer focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background group w-max"
                >
                    {{ partial:svg/burger }}
                </button>
            </div>
        </div>
    </div>
</div>
