<div class="bg-white w-full z-10 relative">
    <div class="container py-4">
        <div class="flex justify-between">
            <div
                x-show="navigationMenuOpen"
                @click.away="navigationMenuClose()"
                class="absolute inset-x-0 top-24"
                x-cloak
            >
                <div class="container">
                    <div class="flex justify-center w-full h-auto overflow-hidden bg-white text-black rounded-outer">
                        <div class="flex flex-col gap-12 items-stretch justify-center w-full p-8">
                            <nav>
                                <ul class="flex flex-col gap-5">
                                    {{ nav:main }}
                                        <li>
                                            <a class="text-lg hover:underline font-medium hover:text-primary" href={{ url }}>
                                                {{ title }}
                                            </a>
                                        </li>
                                    {{ /nav:main }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/">
                {{ svg src="logo.svg" class="h-12" }}
            </a>

            <div class="flex items-center pl-2 text-black">
                <button
                    :class="{ 'bg-neutral-100' : navigationMenuOpen, 'hover:bg-neutral-100' : !navigationMenuOpen }"
                    @click="navigationMenuToggle()"
                    class="inline-flex items-center justify-center h-10 px-2 py-2 text-sm font-medium transition-colors rounded-outer focus:outline-none disabled:opacity-50 disabled:pointer-events-none bg-background hover:bg-neutral-100 group w-max"
                >
                    {{ partial:svg/burger }}
                </button>
            </div>
        </div>
    </div>
</div>
