<div class="flex flex-col gap-8 relative" x-data="{ showResults: false }" @click.outside="showResults = false" x-show="searchOpen" x-cloak x-trap.inert="showResults">
    <input
        x-ref="search"
        type="text"
        placeholder="Search this site"
        class="w-full h-16"
        x-focus
        wire:model.live.debounce.300ms="q"
        name="q"
        @focus="showResults = true"
    />
    <div x-cloak x-show="showResults && $wire.q && $wire.q.length > 0" class="bg-white flex flex-col gap-2 w-full z-10 overflow-y-auto">
        {{ results }}
            <a
                aria-label="{{ title }}"
                href="{{ collection == 'resources' && asset_type == 'asset' ? asset:url : url }}"
                {{ if (collection == 'resources' && asset_type == 'asset') }}
                    target="_blank"
                {{ /if }}
                class="p-6 bg-gray-light rounded-inner"
            >
                <span class="flex items-center mb-2 gap-4">
                    <strong>{{ nav_title ?? title }}</strong>
                    <div class="rounded-full text-xs text-secondary border py-1 px-2 border-current">{{ collection | ucfirst }}</div>
                </span>
                <p class="text-sm">{{ excerpt ?? description }}</p>
            </a>
        {{ /results }}

        {{ if results | length == 0 }}
            <div class="p-6 bg-gray-light rounded-inner">
                No Results
            </div>
        {{ /if }}
    </div>
</div>
