@import "tailwindcss";

@custom-variant scrolled (&.scrolled);
@custom-variant header-scrolled (&:where(header.scrolled *));

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1280px;
}

@theme {
    /* Colours */
    --color-primary: #FFC6ED;
    --color-primary-light: #FAE4F5;
    --color-primary-contrast: #000;

    --color-secondary: #75A5FC;
    --color-secondary-light: #E3EDFE;
    --color-secondary-contrast: #fff;

    --color-gray: #908F8F;
    --color-gray-light: #E9E9E9;
    --color-black: #191A1B;
    --color-white: #fff;

    /* Radii */
    --radius-outer: 6px;
    --radius-inner: 4px;

    /* Padding */
    --padding-none: 0;
    --padding-sm: 2rem;
    --padding-md: 5rem;
    --padding-base: 10rem;
    --padding-lg: 12rem;
    --padding-xl: 16rem;
}

@media (max-width: 1024px) {
    :root {
        --padding-none: 0;
        --padding-sm: 1rem;
        --padding-md: 4rem;
        --padding-base: 5rem;
        --padding-lg: 6rem;
        --padding-xl: 8rem;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
