<footer class="bg-black text-white rounded-t-block-mobile desktop:rounded-t-outer">
    <div class="container mx-auto h-full">
        <div class="flex flex-col h-full">
            <div class="flex flex-col gap-16 items-start border-b py-32">
                <a title="Home" href="/">
                    {{ partial:svg/logo class="h-10 text-current" }}
                </a>

                <div class="flex flex-row justify-between w-full gap-y-8 gap-x-8">
                    {{ footer:blocks }}
                        <div class="flex-grow flex flex-col gap-4">
                            {{ if title_link }}
                                <a href="{{ title_link }}" class="font-bold border-b border-current pb-4">{{ title }}</a>
                            {{ else }}
                                <p class="font-bold border-b border-current pb-2">{{ title }}</p>
                            {{ /if }}
                            {{ if navigation }}
                                <ul class="flex flex-col gap-6">
                                    {{ nav :handle="navigation.handle" }}
                                        <li class="flex flex-col gap-2">
                                            <a class="hover:underline" href="{{ url }}">
                                                {{ nav_title ?? title }}
                                            </a>
                                            {{ if children }}
                                                <ul class="flex flex-col gap-3 border-current pl-4">
                                                    {{ children }}
                                                        <li>
                                                            <a class="hover:underline" href="{{ url }}">
                                                                {{ nav_title ?? title }}
                                                            </a>
                                                        </li>
                                                    {{ /children }}
                                                </ul>
                                            {{ /if }}
                                        </li>
                                    {{ /nav }}
                                </ul>
                            {{ /if }}
                        </div>
                    {{ /footer:blocks }}
                </div>
            </div>

            <div class="flex justify-between pt-8 pb-24">
                <div class="flex items-center flex-wrap gap-6">
                    <p>© {{ config:app:name }} {{ date | format('Y') }}</p>
                    <a class="hover:underline" href="/site-map">Sitemap</a>
                </div>

                <div class="flex mt-auto">
                    <a class="flex gap-2 items-end text-white text-sm whitespace-nowrap hover:underline" href="http://caretakers.io" target="_blank">
                        <span class="leading-none">Lovingly crafted by</span>
                        {{ partial:svg/logo class="h-4 text-current" }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
