<div class="flex flex-col gap-6">
    <a title="Read article: {{ title }}" href="{{ permalink }}">
        <h3>
            {{ title }}
        </h3>
    </a>

    {{ partial:components/text/light }}
        {{ excerpt | truncate(80, '...') }}
    {{ /partial:components/text/light }}

    <a title="Read article: {{ title }}" href="{{ permalink }}">
        {{ thumbnail }}
            {{ partial:components/common/image class="aspect-video" }}
        {{ /thumbnail }}
    </a>

    <a title="Read article: {{ title }}" href="{{ permalink }}" class="flex items-center gap-2 text-sm">
        {{ partial:components/text/subtitle }}
            Read article
        {{ /partial:components/text/subtitle }}

        {{ partial:svg/arrow_right }}
    </a>
</div>
